.formBody {
  text-align: center;
  margin: auto; 
}

.formText {
  letter-spacing: 3px;
}

.errorMes {
  text-align: left;
  margin-left: 15px;
  letter-spacing: 4px;
}

.contactSubmitBtn {
  background-color: black !important;
  letter-spacing: 3px;
}